@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background : black;
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
   font-size: 1.3rem;
   font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5 ease;
}
.navbar ul li a:hover{
   /* background-color: #03a9f4;*/
   background-color: white;
   color: black;
    border-radius: 5px;
}
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    right: 0;
    background: url('1.jpg') no-repeat center center/cover;
    height: 840px;
    width: 100%;
    z-index: -1;
    opacity: 1;
}
.main{
   /* display: flex;
    flex-direction: column;
    align-items: center;*/
    position: absolute;
    top: 30%;
    right: 10%;
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;

}
.main .headings{
    text-align: left;

}
#about{
    display: flex;
    flex-direction: column;
    box-sizing:  border-box;
    padding: 20px;
    margin-bottom: 50px;
}
#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 500px;
    border-radius: 20%;
    
}

#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    padding-left: 30px;
    font-size: large;

}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
#services{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 3px solid burlywood;
    margin: 10px;
    margin-bottom: 0px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to top,tomato 50%, white 50%);
    background-size: 100% 200%;
    transition: all 0.8s;
    font-size: large;
}
.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px tomato;
}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-weight: 900;
    outline: none;
    border-radius: 5px;
    margin-top: auto;
    
}
.btn a{
    text-decoration: none;
    color: white;

}
